{%extends 'base.html'%}
{%block content %}

{%include 'nav.html' %}

<div class="center">
        <h2>Contato</h2>
    </div>
	

	<form action="" method="post">
        {{ form.csrf_token}}

		<fieldset>
			<legend>Detalhes de contatos</legend>
			<div>
				{{ form.nome.label() }}
                {{ form.nome() }}
			</div>
			<div>
                {{ form.email.label() }}
                {{ form.email() }}
			</div>
		</fieldset>
		<fieldset>
			<legend>Comentarios</legend>
			<div>
                {{ form.assunto.label() }}
                {{ form.assunto() }}
               
                {{ form.mensagem.label() }}
                {{ form.mensagem() }}
				
			</div>
		</fieldset>
        
        {{form.btnSubmit()}}       
        


	</form>


{%endblock%}